
#top {
    position: absolute;
    background-color: #ffffff;
    color: white;
    width: 100%;
    margin-left: -0.7%;
    margin-top: -0.7%;
    margin-right: -0.7%;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    padding: 5px;
   
}

#right {
    float: right;
    padding: 5px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin-top: 19%;
    
  
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


